

.album-frame
{
    min-height: 80dvh;  
    width:80%;
    grid-auto-rows: 150px;
    margin:auto;
    margin-top:20px;
}
.album-grid-table {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
      margin:20px auto;
      align-items: stretch;  
       
    }

.album-image
{
    max-width:280px;
}


    .album-cell {
      padding: 8px;
       display: flex;             /* flex container to center content */
       align-items: center;       /* vertical centering inside the cell */
        justify-content: center;   /* horizontal centering */
        box-sizing: border-box;    /* include padding in width/height */
    }

.album-cell.full-width {
  grid-column: 1 / -1; /* makes it span across both columns */
  text-align: center;  /* optional */
  padding-top: 10px;
  padding-bottom: 10px;
}

  
   /* Striping rows */
.album-cell:nth-child(4n-3),
.album-cell:nth-child(4n-2) 
{
  background-color:#D1BEA8;/*linear-gradient(145deg,#C6BA8B, white);*/  /* odd row */
   color:#513B1C;
}

.album-cell:nth-child(4n-1),
.album-cell:nth-child(4n) {
  background-color: #F8F6F0; /* even row */
   color:#C9AE5D;
}

.album-font
{
    font-family:Arial;
    font-size: 16px;
}

.album-cell ul
{
    list-style-type: none;
    padding-inline-start: 0px;
}

.album-track
{
    text-decoration:none;
}

.album-track-name
{
    margin-bottom:7px;
}


.albumImage {
  width: 300px;
  height: 300px;
  object-fit: cover; /* keeps proportions, crops if needed */
}


@media (max-width: 374px) {

    
.albumImage {
  width: 250px;
  height: 250px;

}

   /* .album-font
    {
        font-size:19px;
    } */

    .album-grid-table {
      grid-template-columns: 1fr ; 
       
    }

    
    .album-image
    {
        max-width:191px;
    }

}

@media (min-width:375px) and  (max-width: 767px) {

   /*
    .album-font
    {
        font-size:21px;
    } */

            
    .albumImage {
        width: 250px;
        height: 250px;

        }

    .album-grid-table {
      grid-template-columns: 1fr ; 
       
    }

    
    .album-image
    {
        max-width:218px;
    }

   
}

@media (min-width:767px) and  (max-width: 911px) {
   
    .album-grid-table {
      grid-template-columns: 1fr ; 
       
    }

/*    .album-font
    {
        font-size:27px;
    } */

}

@media (min-width:912px) and  (max-width: 1023px) {
   
  /*  .album-font
    {
        font-size:19px;
    }
    */
}


@media (min-width:1024px) and (max-width:1100px) {

      .album-grid-table {
      grid-template-columns: 1fr ; 
       
    }
  
 /*   .album-font
    {
        font-size:29px;
    }
   */ 
}
