

.artist-frame
{
    min-height: 80dvh;  
    width:80%;
    grid-auto-rows: 150px;
    margin:auto;
    margin-top:20px;
}
.artist-grid-table {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
      margin:20px auto;
      align-items: stretch;  
       
    }
    .artist-cell {
      padding: 8px;
       display: flex;             /* flex container to center content */
       align-items: center;       /* vertical centering inside the cell */
        justify-content: center;   /* horizontal centering */
        box-sizing: border-box;    /* include padding in width/height */
        font-size: 45px;
        font-family:Arial;
    }
  
 
.artist-font
{
    font-size: 45px;
      font-family:Arial;
}

.artist-cell ul
{
    list-style-type: none;
    padding-inline-start: 0px;
}

    
.artist-cell:nth-child(4n-3),
.artist-cell:nth-child(4n-2) 
{
  background-color:#D1BEA8;/*linear-gradient(145deg,#C6BA8B, white);*/  /* odd row */
   color:#513B1C;
}

.artist-cell:nth-child(4n-1),
.artist-cell:nth-child(4n) {
  background-color: #F8F6F0; /* even row */
  color:#C9AE5D;
}


.artistImage {
  width: 300px;
  height: 300px;
  object-fit: cover; /* keeps proportions, crops if needed */
}

@media (max-width: 767px) {

   
.artistImage {
  width: 250px;
  height: 250px;
 
}

   .artist-grid-table {
      grid-template-columns: 1fr ; /* one column */
       
    }

    .artist-font
    {
       font-size:16px;      
    }

   .artist-cell
   {
      font-size: 16px;
   }
   .artist-name
   {
      text-decoration:underline;
   }
   
}

@media (min-width:767px) and  (max-width: 911px) {
    
   .artist-grid-table {
      grid-template-columns: 1fr ; /* one column */
       
    }

   .artist-cell
   {
      font-size: 20px;
   }

     .artist-font
    {
       font-size:20px;
       font-family:Arial;
    }

     .artist-name
   {
      text-decoration:underline;
   }
   
  
}

@media (min-width:912px) and  (max-width: 1023px) {
   .artist-cell
   {
      font-size: 28px;
   }

    .artist-font
    {
       font-size:28px;      
    }
    
}


@media (min-width:1024px) and (max-width:1100px) {
   .artist-cell
   {
      font-size: 35px;
   }
   .artist-font
    {
       font-size:35px;      
    }
}
