
.library-container
{
    background-color: color(srgb 78.43% 67.84% 49.8%); /* #C8AD7F */
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height: 100dvh;
    overflow: auto;
}

.outlet-style
{
    min-height: 90dvh;
    overflow: auto
}