

.song-frame
{
    min-height: 80dvh;  
    width:80%;
    grid-auto-rows: 150px;
    margin:auto;
    margin-top:20px;
}
.song-grid-table {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
      margin:20px auto;
      align-items: stretch;  
         justify-content: center;
    }
    .cell {
      padding: 8px;
       display: flex;             /* flex container to center content */
       align-items: center;       /* vertical centering inside the cell */
        justify-content: center;   /* horizontal centering */
        box-sizing: border-box;    /* include padding in width/height */
    }
  
   /* Striping rows */
.cell:nth-child(4n-3),
.cell:nth-child(4n-2) 
{
  background-color:#D1BEA8;/*linear-gradient(145deg,#C6BA8B, white);*/  /* odd row */
   color:#513B1C;
}

.cell:nth-child(4n-1),
.cell:nth-child(4n) {
  background-color: #F8F6F0; /* even row */
  color:#C9AE5D;
}


.cell ul
{
    list-style-type: none;
    padding-inline-start: 0px;
}

.song-name
{
    color:#513B1C;
     cursor:pointer;
}

.song-album-name
{
    color:#C9AE5D;
     cursor:pointer;
}

.song-artists
{
    color:#513B1C;
     cursor:pointer;
}

.song-font
{
    font-size:40px;
}


@media  (min-width:300px) and  (max-width: 400px) {

    .song-frame
    {
        width:initial;
    }

  .song-grid-table
  {
       grid-template-columns: 1fr;
  }

   .song-font 
   {
       font-size:22px;
   }

   .song-name
   {
      text-decoration:underline;
   }
}


@media  (min-width:401px) and (max-width: 767px) {

    .song-frame
    {
        width:initial;
    }

  .song-grid-table
  {
       grid-template-columns: 1fr;
  }

   .song-font 
   {
       font-size:27px;
   }

   .song-name
   {
      text-decoration:underline;
   }
}

@media (min-width:767px) and  (max-width: 911px) {

    .song-font
    {
      font-size: 22px;
    }

   
   
}


@media (min-width:912px) and  (max-width: 1023px) {

    .song-font
    {
      font-size: 30px;
    }

   
}


@media (min-width:1024px) and (max-width:1100px) {
    .song-font
    {
      font-size: 35px;
    }


}
